<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Paras Singh Adhikari - Portfolio{% endblock %}</title>
    
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    
    <!-- JavaScript -->
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    
    {% block extra_js %}{% endblock %}
</body>
</html>